.table {
  margin: var(--spacing-4) auto;
  direction: rtl;
  padding: var(--spacing-4);
  color: var(--clr-blue-primary);
  border: 1px solid black;
  border-collapse: collapse;
}

.tr, .td, .th {
  color: var(--clr-blue-primary);
  padding: var(--spacing-4) var(--spacing-6);
  border: 1px solid var(--clr-blue-primary);
  border-collapse: collapse;
  text-align: center; 
  vertical-align: middle;
}

.sortIconAscending, .sortIconDescending {
  position: relative;
}

.sortIconAscending::after, .sortIconDescending::after {
  content: '';
  width: 24px;
  height: 24px;
  position: absolute;
  right: -26px;
  top: 1px;
  transform: rotate(180deg);
  background-image: url("../../assets/images/sort-icon.png");
  background-position: center;
  background-repeat: no-repeat;
}

.sortIconDescending::after {
  transform: rotate(0);
}